*{
    font-family: 'Bree Serif', serif;
    
}

body{
    background:radial-gradient(circle, rgba(36,190,206,1) 20%, rgba(43,197,213,1) 25%, rgba(64,218,235,1) 51%,
    rgba(153,244,240,1) 84%, rgba(173,215,246,1) 99%);
}

    /*boton de registro*/
.btn-n{
    position: absolute;
    right: 100px;
    top: 40px;
    display: inline-block;
    padding: 15px 30px;
    color:white;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0,2s;
}

.btn-n:hover{
    background: #2B7FFA;
    box-shadow: 0 0 10px#2B7FFA, 0 0 40px #2B7FFA, 
    0 0 80px #2B7FFA;
    transition-delay: 1s;
}

.btn-n span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2B7FFA);
}

.btn-n:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2B7FFA);
}

.btn-n:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2B7FFA);
}

.btn-n:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2B7FFA);
}

.btn-n:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
    /*aqui termina boton de registro*/

.izquierda{
    text-align: left;
}

.texto1{
    position: absolute;
    left: 170px;
    top: 25px;
    color: blue;
}

.textoDatabase{
    position: absolute;
    left: 550px;
    top: 35px;
    color: blanchedalmond;
}

.textoEducation{
    position: absolute;
    left: 700px;
    top: 35px;
    color: blanchedalmond;
}

.textoNews{
    position: absolute;
    left: 850px;
    top: 35px;
    color: blanchedalmond;
}

.textoRegulation{
    position: absolute;
    left: 950px;
    top: 35px;
    color: blanchedalmond;
}

.TextoInicial{
    position: absolute;
    left: 150px;
    top: 150px;
    color: rgb(57, 70, 243);
}

.ParrafoInicial{
    position: absolute;
    left: 150px;
    top: 350px;
    color: white;
}

.textoBestProtection{
    position: absolute;
    left: 180px;
    top: 470px;
    color: rgb(7, 7, 7);
}

.textoSelectVaccines{
    position: absolute;
    left: 450px;
    top: 470px;
    color: rgb(7, 7, 7);
}

.textoAgendaVacunas{
    position: absolute;
    left: 180px;
    top: 700px;
    color: rgb(7, 7, 7);
}

.enf img{
    margin-left: 750px;
    margin-top: 130px;
    display: block;
    width: 600px;
    height: 900px;
    position: static;
}

/*texto segunda mitad*/
.textoMotivo{
    position: absolute;
    left: 180px;
    top: 1300px;
    color: blue;
}

.ParrafoBeneficios{
    position: absolute;
    left: 190px;
    top: 1350px;
    color: white;
}

/*texto tercera parte*/
.textoPreparacion{
    position: absolute;
    right: 220px;
    top: 1800px;
    color: blue;
}

.ParrafoRecomendaciones{
    position: absolute;
    right: 160px;
    top: 1850px;
    color: white;
}

.rec img{
    margin-right: 800px;
    margin-top: 900px;
    display: block;
    width: 400px;
    height: 600px;
    position: static;
}

/*texto cuarte parte*/
.textoContacto{
    position: absolute;
    left: 150px;
    top: 2600px;
    color: blue;
}

.ParrafoContacto{
    position: absolute;
    left: 160px;
    top: 2650px;
    color: white;
}

.enfermeros img{
    margin-left: 800px;
    margin-top: 100px;
    display: block;
    width: 600px;
    height: 600px;
    position: static;
}

.contenedor{
    width: 800px;
    height: 120px;
    background-color: white;
    box-shadow: 11px 13px 23px 0px rgba(0, 0, 0, 0.49);
    position: absolute;
    top: 880px;
    left: 200px;
    column-count: 4;
    border-radius: 15px;
    overflow: hidden;
}

.textoLocation{
    padding-top: 10px;
    text-align: center;
}

/*boton2*/
.btn-n2{
    display: inline-block;
    background-color: blue;
    color:white;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0,2s;
    border-radius: 5px;
    margin-top: 18%;
}

.btn-n2:hover{
    background: #2B7FFA;
    box-shadow: 0 0 10px#2B7FFA, 0 0 40px #2B7FFA, 
    0 0 80px #2B7FFA;
    transition-delay: 1s;
}

.btn-n2 span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2B7FFA);
}

.btn-n2:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2B7FFA);
}

.btn-n2:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2B7FFA);
}

.btn-n2:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2B7FFA);
}

.btn-n2:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


 /*-------Pendiente*/
.caja{
    width: 200px;
    height: 200px;
    background: gray;
    position: absolute;
    margin-left: 150px;
    margin-bottom: 2000px;
}